.header-main .container{
    min-width: 1200px;
}
.slider-reg img{
    width: 100%;
    height: 350px;
}
body{
    min-width:1200px;
}
.content-all{
    min-width:1200px;
}
/****************************************/
/************ 顶部banner画布 ************/
/****************************************/
.canvas .container{
    padding: 0;
    margin: 0;
}
.canvas .carousel-indicators .active{
    background-color: #8A1000;
}
/* 加载动画 */
#circularG{
position:absolute;
width:60px;
height:60px;
margin: 0 auto;
margin-top: 170px;
margin-left: 48%;
display: none;
}

.circularG{
position:absolute;
background-color:#8A1000;
width:14px;
height:14px;
-moz-border-radius:9px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:9px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:9px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:9px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:9px;
animation-name:bounce_circularG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:24px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#circularG_2{
left:6px;
top:6px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#circularG_3{
top:0;
left:24px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#circularG_4{
right:6px;
top:6px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#circularG_5{
right:0;
top:24px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#circularG_6{
right:6px;
bottom:6px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#circularG_7{
left:24px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#circularG_8{
left:6px;
bottom:6px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

/****************************************/
/**************** 内容列表 **************/
/****************************************/
.content-left{
    top: 0;
    left: 0;
    padding: 25px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-transition-duration: 1000ms;
    -moz-transition-duration: 1000ms;
}
.info-box img{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.info-box p{
    margin-left: 10px;
    color: #222;
}
.example img{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.all-list{
    color: #222;
}
.all-list .list-head{
    height: 35px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: solid 3px #ba2c1c;
}
.all-list .list-head h4{
    height: 30px;
    line-height: 35px;
    float: left;
    margin-left: 10px;
    font-weight: bold;
}
.all-list .list-head a{
    float: right;
    font-size: 20px;
    line-height: 33px;
    margin-right: 10px;
    color: #222;
}
.all-list .list-head a:hover{
    color: #999;
}
.all-list .list-info{
    width: 100%;
    margin: 0 auto;
}
.all-list .list-info img{
    width: 180px;
    height: 180px;
    display: block;
    float: left;
    padding: 10px;
    margin: 15px 31px;
    border:2px solid transparent;
    border-radius: 50%;
}
.all-list .list-info img:hover{
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6; 
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border:2px solid #ba2c1c;
}
.page-num{
    width: 250px;
    margin: 0 auto;
}


